.monthlyPaymentWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.monthlyPaymentTitle {
  font-size: small;
  font-weight: bold;
}

.monthlyPaymentAmount {
  font-size: xx-large;
  font-weight: 300;
}

.calculationActionCall {
  display: flex;
  gap: 1ch;
  justify-content: center;

  .calculationActionCallIcon {
    filter: invert(50%);
  }

  .calculationActionCallTitle {
    text-decoration: underline;
    font-size: x-small;
  }
}
