.sliderInput {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-end;
}
.sliderWrapper {
  flex: 3;
}

.sliderLabel {
  color: #140757;
  font-size: small;
}
.label {
  margin-bottom: 5px;
}

.minValue,
.maxValue {
  color: #767e88;
  font-size: xx-small;
}

.minValue {
  float: left;
}

.maxValue {
  float: right;
}
